body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 48, 48);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    height: 600px;
    width: 450px;
    background-color: rgb(15, 66, 124);
    border-radius: 5%;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
}

.display {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-end;
    background-color: rgb(202, 199, 199);
    width: 400px;
    height: 120px;
    border-radius: 10px;
    border: 1px solid black;
    padding-bottom: 10px;
    padding-right: 10px;
}

.currentNumber {
    font-size: 34px;
    font-weight: 400;
}

.previousNumber {
    padding-top: 15px;
    font-weight: 500;
    font-size: 18px;
}

button {
    height: 75px;
    width: 90px;
    border-radius: 10px;   
    font-size: 24px;
    font-weight: 500;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
}

button:hover {
    background-color: rgb(191, 207, 216);
}

button:active {
    background-color: rgb(191, 207, 216);
    transform: translate(2px, 2px);
    transition: all 0.1s ease-in-out;
}

.allButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.operation {
    font-size: 30px;
    font-weight: 600;
}

.ops {
    font-size: 30px;
    font-weight: 600;
}

#clearBtn {
    background-color: red;
}

#equalBtn {
    width: 190px;
    background-color: rgb(44, 241, 44);
}




