body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(54, 53, 53);
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.calculator {
    display: grid;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    width: 410px;
    background-color: rgb(2 2 2);
}

.display {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-end;
    background-color: rgb(0 0 0);
    color: white;
    width: 400px;
    height: 150px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.currentNumber {
    font-size: 40px;
    font-weight: 400;
}

.previousNumber {
    padding: 15px;
    font-weight: 500;
    font-size: 20px;
}

button {
    background-color: #242222;
    height: 80px;
    width: 102px;
    font-size: 24px;
    font-weight: 500;
    color: white;
    border: 1px solid black;
}

button:hover {
    background-color: rgb(75, 76, 77);
}

button:active,
.active {
    background-color: rgb(191, 207, 216);
    transform: translate(2px, 2px);
    transition: all 0.1s ease-in-out;
}

.allButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.operation {
    font-size: 30px;
}

.ops {
    background-color: #f8a100;
    font-size: 30px;
    font-weight: 600;
}

.ops:hover {
    background-color: #ffba3d;
}

#clearBtn {
    background-color: rgb(223, 4, 4);
}

#clearBtn:hover {
    background-color: rgb(236, 58, 58);
}

#equalBtn {
    width: 204px;
    background-color: rgb(8, 211, 8)
}

#equalBtn:hover {
    background-color: rgb(1, 241, 1);
}